.browseForm{
    display: flex;
}
.side-nav{
    display: flex;
    position: absolute;
    width: 312px;
    height: 100%;
}

.server-container{
    display: inline-block;
    //position: relative;
    width: 72px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background-color: #1f2124;
}

.server-container::-webkit-scrollbar{
    display: none;
}

.channel-container{
    display: inline-block;
    position: relative;
    left: 72px;
    width: 240px;
    height: 100%;
    background-color: #2f3035;
}

.main-content{
    display: flex;
    width: 100%;
    position: absolute;
    left: 312px;
    height: 100%;
    background: white;
}

.home-link:active{
    top: 2px;
}

.home-link{
    position: relative;
    left: 5px;
    width: 52px;
    height: 52px;
    background-color: #7289da;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    transition: .1s;
}

.fa-home:before{
    font-size: 28px;
    position: relative;
    top: 12px;
}

.server-divider{
    position: relative;
    height: 2px;
    background-color:  #2f3035;
    border-width: 0px;
    margin: 8px 14.406px 0px;
}

.add-button{
    width: 52px;
    height: 52px;
    background-color: #2f3035;
    border-radius: 30px;
    position: relative;
    left: 5px;
    display: flex;
    outline: 0;
    border: 0;
    justify-content: center;
    transition: .1s;
}

.add-button:active{
    top: 2px;
}


.add-button:hover {
    border-radius: 20px;
    background-color: #43b581;
    .fa-plus:before{
        color: white;
    }
}

.fa-plus:before{
    font-size: 28px;
    position: relative;
    color: #43b582;
}

$size: 4px;

.circleThing {
  background: #9e978e;
  display: inline-block;
  height: $size * 0;
  width: $size;
  border-bottom-right-radius: $size * 2;
  border-top-right-radius: $size * 2;
  position: relative;
  transition: .2s;
}

.button-group:hover{
    .circleThing{
        height: $size * 5;
    }
}

.logoutButton{
    position: relative;
    left: 700px;
}

.button-group{
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    padding: 0 0 10px 0;
}

.server-list{
    padding: 0;
    right: 0;
}

.server-link{
    width: 52px;
    height: 52px;
    background-color: #2f3035;
    border-radius: 30px;
    position: relative;
    left: 5px;
    display: flex;
    outline: 0;
    border: 0;
    justify-content: center;
    align-items: center;
    transition: .1s;
}

.server-link p{
    color: #b9bbbe;
    font-weight: 600;
}

.server-link:active{
    top: 2px;
}

.server-link:hover {
    border-radius: 20px;
    background-color: #7289da;
    p{
        color: white;
    }
}

.channel-divider{
    background-color: #1f2124;
    height: 2px;
    border-width: 0px;
    position: relative;
    margin: 0px;
}

.header-content{
    display: flex;
    align-items: center;
    height: 60px;
}

.header-content span{
    position: relative;
    left: 15px;
    font-weight: 600;
}