body{
   min-width:600px;        /* Suppose you want minimum width of 1000px */
   width: auto !important;  /* Firefox will set width as auto */
   width:600px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.browseForm{
    display: flex;
    justify-content: flex-end;
}

.server-container{
    width: 72px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background-color: #1f2124;
}

.server-holder{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 0 0 10px 0;    
    width: 100%;
    height: 100%;
}

.server-container::-webkit-scrollbar{
    display: none;
}

.side-nav{
    display: flex;
    position: absolute;
    left: 0;
    width: 312px;
    height: 100%;
}

.channel-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 72px;
    width: 240px;
    height: 100%;
    background-color: #2f3035;
}

.channel-holder{
    position: relative;
    width: 100%;
    height: 100%;
}

.main-content{
    display: flex;
    width: calc(100% - 312px - 225px);
    position: fixed;
    left: 312px;
    height: 100%;
    background: white;
    flex-direction: column;
}

.logoutButton{
    position: fixed;
}

.logoutButton .header-button{
    border: 0px solid transparent;
}

.logoutButton .header-button:hover{
    background-color: red;
}

.content-divider{
    background-color: #dadada;
    height: 2px;
    border-width: 0px;
    top: 48px;
    position: fixed;
    margin: 0px;
}

.content-header{
    height: 48px;
    width: 100%;
    background-color: #7289da;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search-bar{
    position: fixed;
    width: 225px;
    background-color: white;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
