.browseForm{
    display: flex;
}

.server-container{
    width: 72px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    background-color: #1f2124;
}

.server-holder{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding: 0 0 10px 0;    
    width: 100%;
    height: 100%;
}

.server-container::-webkit-scrollbar{
    display: none;
}

.side-nav{
    display: flex;
    position: absolute;
    width: 312px;
    height: 100%;
}

.channel-container{
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    left: 72px;
    width: 240px;
    height: 100%;
    background-color: #2f3035;
}

.main-content{
    display: flex;
    width: calc(100% - 312px);
    position: fixed;
    left: 312px;
    height: 100%;
    background: white;
    flex-direction: column;
}

.logoutButton{
    position: fixed;
}

.channel-divider{
    background-color: #1f2124;
    height: 2px;
    width: 240px;
    border-width: 0px;
    top: 48px;
    position: fixed;
    margin: 0px;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    width: 240px;
    cursor: pointer;
}

.header-content span{
    display: inline-block;
    position: relative;
    left: 15px;
    font-weight: 600;
}

.header-content i{
    display: inline-block;
    position: relative;
    right: 15px;
    overflow:hidden;
    color: #acacae;
}

.server-dropdown{
    cursor: pointer;
    display: none;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 216px;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.server-dropdown div{
    display: flex;
    width: 188px;
    height: 18px;
    font-size: 15px;
    padding: 10px 14px;
}



.server-dropdown div:hover{
    border-radius: 5px;
    background-color: #f9f9f9;
}

.invite-div{
    border-bottom: 1px solid whitesmoke;
}

.invite-div:hover{
    p{
        color: #7289da;
    }

    i{
        color: #7289da;
    }
}

.invite-div p{
    color: #8fa0e1;
}

.invite-div i{
    color: #8fa0e1;
}

.delete-div:hover{
    p{
        color: red;
    }

    i{
        color: red;
    }
}

.delete-div p{
    color: #e14f66;
}

.delete-div i{
    color:  #e14f66;
}

.server-dropdown i{
    padding-right: 15px;
}

.delete-div i{
    padding-right: 18px;
}

.show{display: flex;}

.content-divider{
    background-color: #dadada;
    height: 2px;
    border-width: 0px;
    top: 48px;
    position: fixed;
    margin: 0px;
}

.content-header{
    height: 48px;
    width: 100%;
    background-color: #7289da;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.content-second{
    height: 95px;
    width: 100%;
    background-color: black;
}