.img .main-img{
    display: flex;
}

.main-img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 230px;
    background-size:100% auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.signup, .guest{
    width: 200px;
    height: 40px;
    border-radius: 3px;
    position: relative;
    display: block;
    margin: 0 40px;
    top: 125px;
    border: 0px;
    outline: 0px;
}

.signup{
    color: #2B2B2B;
}

.guest{
    background: #a89a01;
    color: #e0e0e0;
}

.signup:hover,
.guest:hover{
    top: 126px;
}
