.img .main-img{
    display: flex;
}

.main-img{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 230px;
    background-size:100% auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.redirect-button{
    width: 200px;
    font-weight: 600;
    height: 40px;
    border-radius: 3px;
    position: relative;
    display: block;
    margin: 0 40px;
    top: 125px;
    border: 0px;
    outline: 0px;
    background: #a89a01;
    color: #e0e0e0;
}

.signup:hover,
.guest:hover{
    top: 126px;
}

.links-container{
    position: relative;
    top: 225px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 300px;
    height: 100px;
    font-size: 50px;
    justify-content: space-between;
    align-items: center;
}

.top{
    position: relative;
    top: 225px;
}

.bottom{
    position: relative;
    top: 225px;
}