.chat-message{
    color: black;
}

.hidden-submit{
    display: none;
}

.message-input{
    position: relative;
    top: 33%;
    height: 25px;
    padding: 10px;
    border: none;
    background: #f6f6f7;
    color: #78838f;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

.message-form{
    position: fixed;
    top: 84%;
    width: 86%;
}

.message-form ::placeholder{
    color: #97a7b7;
}

.message-list{
    position: fixed;
    height: 83%;
    left: 355.44px;
    width: 66.3%;
    padding-right: 65px;
    padding-bottom: 20px;
    background: white;
    border-bottom: 1px solid #a3b5f5;
    word-wrap: break-word;
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7289da; 
  border-radius: 10px;
}

.chatroom-container {
    list-style: none;
}

.chat-message{
    color: black;
}

.chat-message p{
    line-height: 1.6;
}

.chat-message .username{
    color: black;
}

.chat-message .message{
    line-height: 1.6;
    color: #757f8d;
    font-size: 13px;
}

.message-divider{
    background-color: #eceeef;
    height: 1px;
    border-width: 0px;
}