body{
    background: #26262B;
}

nav{
    position: relative;
    height: 50px;
    margin: 0;
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: space-around;
    margin-top: auto;
}
.right-nav,
.main-nav{
    display: flex;
    justify-content: space-around;
}

.right-nav{
    width: 250px;
}

.right-nav p{
    font-size: 30px;
    color: #828282;
    position: relative;    
    top: 12px;

    vertical-align: middle;
}

.right-nav .nav-button{
    font-size: 12px;
    position: relative;
    top: 10px;
    margin: 5px;
    padding: 4px;
    height: 20px;
    width: 56px;
    line-height: 17px;
    color: #b1b1b2;
    border: 2px solid #b1b1b2;
    border-radius: 20px;
    text-align: center;
    transition: .5s;
}

.nav-button:hover{
    border: 2px solid white;
    color: white;
}

.main-nav {
    position: relative;
    width: 300px;

}


.header-link {
    font-size: 30px;
    position: relative;
    top: 6px;
    transition: .5s;
}

.header-link:hover {
    color: #7289da;
}


a{
    color: #7c7c7c;
    transition: 1s;
}


a:hover {
    color: white;
}

.header-button{
    position: relative;
    top: 10px;
    color: white;
    padding: 8px;
    height: 40px;
    width: 90px;
    border: 1px solid #828282 !important;
    border-radius: 20px;
    vertical-align: middle;
    text-align: center;
    background: transparent;
    text-decoration: none;
    transition: 1s;
}

.header-button:active, .header-button:focus {
  outline: 0;
  border: none;
  outline-style: none;
}